<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Сайт{% endblock %}</title>
</head>
<body>

<button onclick="window.location.href='http://127.0.0.1:8000/';">Главная</button>
<!--<button onclick="window.location.href='http://127.0.0.1:8000/chose_goods/';">Редактировать товар</button>-->
<!--<button onclick="window.location.href='http://127.0.0.1:8000/upload_image/';">Загрузить изображение</button>-->
<button onclick="window.location.href='http://127.0.0.1:8000/view_goods/';">Посмотреть товар</button>
<br>

{% block content %} <h2> Главная </h2>{% endblock %}

</body>
</html>
